@tailwind base;
@tailwind components;
@tailwind utilities;


.writingPart

.textOne{

    width:239px;
   margin-left: auto;
   text-align: left;
}

.textTwo{

    width:354px;
   margin-right: auto;
   text-align: left;
}








/* @media (max-width: 1280px) {
    .textOne{

        width:20px;
    }
} */